{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - Fazi{% endblock %}

{% block body %}


<div class="container main">

  <div class="row">
    <div class="col-md">
        <h1>{{ 'app.title'|trans }}</h1>
        {% include 'main/partial/search_form.html.twig' %}
        N'eo ket bet kavet ar {{verb}}. Gallout a rit kas ur postel deomp gant ar furmskrid amañ dindan :

        <div>
              {{form_start(contactForm, {
                  'action' : path('mail'),
              })}}
              <div class="row">
                  <div class="col-md-2">
                      {{form_label(contactForm.name)}}
                  </div><div class="col-md">
                      {{form_widget(contactForm.name)}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      {{form_label(contactForm.email)}}
                  </div><div class="col-md">
                      {{form_widget(contactForm.email)}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      {{form_label(contactForm.message)}}
                  </div><div class="col-md">
                      {{form_widget(contactForm.message)}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-md">
                      {{form_widget(contactForm.submit)}}
                  </div>
              </div>
              {{form_widget(contactForm._token)}}
              {{form_end(contactForm)}}
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
