{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - Fazi{% endblock %}

{% block content %}
    <p>{{'app.verb.not_found'|trans({'%verb%': verb})}}</p>
    <p>{{'app.verb.contact_invitation'|trans}}</p>

    {% form_theme contactForm 'bootstrap_4_layout.html.twig' %}
    <div>
            {{form_start(contactForm, {
                'action' : path('mail'),
            })}}
            <div class="row">
                <div class="col-md-2">
                    {{form_label(contactForm.name)}}
                </div><div class="col-md">
                    {{form_widget(contactForm.name)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{form_label(contactForm.email)}}
                </div><div class="col-md">
                    {{form_widget(contactForm.email)}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{form_label(contactForm.message)}}
                </div><div class="col-md">
                    {{form_widget(
                    contactForm.message, 
                    {'value': ('app.form.contact.default.verb')|trans({'%verb%': verb})}
                )
                }}
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    {{form_widget(contactForm.submit)}}
                </div>
            </div>
            {{form_widget(contactForm._token)}}
            {{form_end(contactForm)}}
        </div>
    </div>
{% endblock %}
