{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek{% endblock %}

{% block content %}
  <h2>{{'app.search.title'|trans}}</h2>

  <div class="navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
  <ul class="results">
    {% for result in pagination %}
      <li><a href="{{ path('verb', {'infinitive': result.infinitive}) }}">
          {{ result.infinitive|highlight(term)|raw }}
          </a></li>
    {% endfor %}
  </ul>

  <div class="navigation">
      {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
