{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek{% endblock %}

{% block content %}
  {% include 'main/partial/search_advanced_form.html.twig' %}

  {% if pagination is defined and pagination.count > 0 %}
    <h2>{{'app.search.title'|trans}}</h2>


    {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
    <div class="list-group results" role="list">
      {% for result in pagination %}
        {% if type == 'localization' %}
          <li>
            {% for localization in result.0.localizations %}
              {% if loop.index != 1 %};{% endif %}
              <b>
                <a href="{{ path('verb', {'infinitive': localization.infinitive}) }}">{{ localization.infinitive }}</a>
              </b>
            {% endfor %}
          </li>
        {% else %}
          <div role="listitem" class="list-group-item list-group-item-action" >
              <p>{{result.0.translation(language)|highlight(term)|replace({ (term) : '<strong>' ~ term ~ '</strong>'})|raw}} :</p>
              <p>
          {% for localization in result.0.localizations %}
            {% if loop.index != 1 %};{% endif %}
                <a href="{{ path('verb', {'infinitive': localization.infinitive}) }}"><i aria-hidden="true" class="far fa-file"></i>{{ localization.infinitive }}</a>
          {% endfor %}
              </p>
          </div>
        {% endif %}

      {% endfor %}
    </div>


  {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
  {% endif %}
{% endblock %}
