{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek{% endblock %}

{% block content %}
  {% include 'main/partial/search_advanced_form.html.twig' %}

  {% if pagination is defined and pagination.count > 0 %}
    <h2>{{'app.search.title'|trans}}</h2>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul>
      {% for result in pagination %}
        {% if type == 'localization' %}
          <li>
            {% for localization in result.localizations %}
              {% if loop.index != 1 %};{% endif %}
              <b>
                <a href="{{ path('verb', {'infinitive': localization.infinitive}) }}">{{ localization.infinitive }}</a>
              </b>
            {% endfor %}
          </li>
        {% else %}
          <li>{{result.translation(language)|replace({ (term) : '<b>' ~ term ~ '</b>'})|raw}} : 
          {% for localization in result.localizations %}
            {% if loop.index != 1 %};{% endif %}
            <b>
              <a href="{{ path('verb', {'infinitive': localization.infinitive}) }}">{{ localization.infinitive }}</a>
            </b>
          {% endfor %}
          </li>
        {% endif %}

      {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
  {% endif %}
{% endblock %}
