{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek{% endblock %}

{% block content %}
  <a href="{{ path('main') }}"><h1>{{ 'app.title'|trans }}</h1></a> 
  {% include 'main/partial/search_advanced_form.html.twig' %}

  {% if pagination.count > 0 %}
    <h2>{{'app.search.title'|trans}}</h2>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul>
      {% for result in pagination %}
        <li><a href="{{ path('verb', {'anvVerb': result.anvVerb}) }}">{{ result.anvVerb }}</a></li>
      {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
  {% endif %}
{% endblock %}
