{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - {{verb.anvVerb}}{% endblock %}

{% block content %}

{% 
    set gour = [
        'U1',
        'U2',
        'U3',
        'L1',
        'L2',
        'L3',
        'D'
    ]
%}
<a class = "print-button" href="#" onclick="print()"><i class="fas fa-print"></i></a>
<a class = "report-button" href="#"><i class="fas fa-flag"></i></a>
{% if verb is not null %}
    <h2>{{verb.anvVerb}}</h2>
    <div class="row">
        <div class="col-md">
            <p>{{'app.french'|trans}} : <i>{{verb.galleg}}</i></p>
            <p>{{'app.english'|trans}} : <i>{{verb.saozneg}}</i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <p><a href="{{wikeriadur_url}}" target="_blank">
            <img class="icon" src="{{ asset('build/wikeriadur.ico') }}" alt="{{'app.wiktionnary.alt'|trans}}" />
            {{'app.wiktionnary'|trans}}</a> (<a href="{{wikeriadur_conjugation_url}}" target="_blank">{{'app.wiktionnary.conjugation'|trans}}</a>)</p>
        </div>
    </div>

    {% include 'main/partial/contact_form.html.twig' with {
        'form_class' : 'report_error',
        'form_object' : reportErrorForm,
        'notice_msg' : 'app.report_error.notice' |trans,
        'default_msg' : ('app.form.contact.report_error.translation')|trans({'%verb%': verb.anvVerb}),
        'form_attr_class' : 'js-contact-form'
    } %}
    {% if verb.galleg is null or verb.saozneg is null %}
        {% set key = 'saozneg' %}
        {% if verb.galleg is null and verb.saozneg is null %}
            {% set key = 'both' %}
        {% elseif verb.galleg is null %}
            {% set key = 'galleg' %}
        {% endif %}
        {% include 'main/partial/contact_form.html.twig' with {
            'form_class' : 'missing_translation',
            'form_object' : contactForm,
            'notice_msg' : 'app.missing_translation.notice' |trans,
            'default_msg' : ('app.form.contact.default.translation_' ~ key)|trans({'%verb%': verb.anvVerb}),
            'form_attr_class' : 'js-contact-form'
        } %}
    {% endif %}
    <div class="row">
        <div class="col-md"> {{ 'app.amzer.gwan'|trans }} : {{verb.pennrann ~ anvGwan}}</div>
    </div>
    <div class="row verb-items">
        {% for amzer, endings in verbEndings %}
            <div class="col-md">
                <h3>{{ ('app.amzer.' ~ amzer)|trans }}</h3>
                <ul>
                    {% for ending in endings %}
                        <li class="verb-item">
                            <abbr title="{{ ('app.gour.' ~ gour[loop.index-1])|trans}}">{{gour[loop.index-1]}}</abbr>.
                            {% if ending|length == 1 %}
                                <span class="js-verb">{{verb.pennrann}}<strong>{{ending.0}}</strong></span> <i class="far fa-copy copy"></i>
                            {% elseif ending|length > 1%} 
                                {% for end in ending %}
                                    {{verb.pennrann}}<strong>{{end}}</strong> <i class="far fa-copy copy"></i>
                                    {% if loop.index < ending|length %}
                                        <i>pe</i>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if loop.index%2 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}

        <div class="col-md">
            <h3>{{ ('app.amzer.nach')|trans }}</h3>
            <ul>
                {% for conjugation in nach %}
                    <li class="verb-item">
                        <abbr title="{{ ('app.gour.' ~ gour[loop.index-1])|trans}}">{{gour[loop.index-1]}}</abbr>.
                        <span class="js-verb">{{ conjugation|raw }}</span> <i class="far fa-copy copy"></i>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% endblock %}
