{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - {{verbLocalization.infinitive}}{% endblock %}

{% block content %}

{% 
    set gour = [
        'U1',
        'U2',
        'U3',
        'L1',
        'L2',
        'L3',
        'D'
    ]
%}
{% block header %}
    {% if print == false %}
        {% include 'main/partial/header.html.twig' %}
    {% endif %}
{% endblock %}

{% if verb is not null %}

  {% include 'main/verb_partials/header.html.twig' %}
    <div class="row">
        <div class="col-md alt-item"> {{ 'app.amzer.gwan'|trans }} : <span class="js-verb">{{verbLocalization.base }}<strong>{{anvGwan}}</strong></span><i class="far fa-copy copy hidden-print" title="{{'app.copy.form' | trans}}"></i></div>
    </div>
    <div class="row">
        <div class="col-md alt-item"> {{ 'app.amzer.ober'|trans }} : <strong><span class="js-verb">{{ober}}</span><i class="far fa-copy copy hidden-print" title="{{'app.copy.form' | trans}}"></i></strong></div>
    </div>
    <div class="row">
        <div class="col-md alt-item"> {{ 'app.amzer.enur'|trans }} : <strong><span class="js-verb">{{enur}}</span><i class="far fa-copy copy hidden-print" title="{{'app.copy.form' | trans}}"></i></strong></div>
    </div>
    

    {% block verbContentTable %}
        {% for category, times in organisation %}
                <div class="row"><h2><i>{{ ('app.time_category.' ~ category)|trans }}</i></h2></div>
                <div class="row verb-items">
                    {% for time in times %}
                        {% set endings = verbEndings[time]%}
                        <div class="col-md-6 js-tense">
                            <h3>
                                {{ ('app.amzer.' ~ time)|trans }}
                                <i class="far fa-copy copy-tense hidden-print" title="{{'app.copy.tense' | trans}}"></i>
                            </h3>
                            <div class="btn-group dialect-button-group" role="group">
                                {% set firstItem = true %}
                                {% for dialect, localizedTimes in localizedVerbEndings %}
                                    {% if localizedTimes[time] is defined and localizedTimes[time] is not null%}
                                        {% if firstItem %}
                                            <button type="button" class="btn btn-primary" disabled="disabled" data-dialect="reolad">{{ 'app.dialect.reolad'|trans }}</button>
                                            {% set firstItem = false %}
                                        {% endif %}
                                        <button type="button" class="btn btn-secondary" data-dialect="{{dialect}}">{{ ('app.dialect.' ~ dialect)|trans }}</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <ul class="endings active" data-dialect="reolad">
                                {% include "main/partial/endings.html.twig" %}
                            </ul>
                            {% for dialect, localizedTimes in localizedVerbEndings %}
                                {% if localizedTimes[time] is defined %}
                                    <ul class="endings" data-dialect="{{dialect}}">
                                        {% include "main/partial/endings.html.twig" with {'endings' : localizedTimes[time]}%}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% if category == 'gourchemenn'%}
                        <div class="col-md js-tense">
                            <h3>{{ ('app.amzer.nach')|trans }} <i class="far fa-copy copy-tense hidden-print" title="{{'app.copy.tense' | trans}}"></i></h3>
                            <div class="btn-group dialect-button-group" role="group"></div>
                            <ul class="endings active">
                                {% for person, conjugation in nach %}
                                    <li class="verb-item">
                                        <span class="abbr" data-tooltip="{{ ('app.gour.' ~ person)|trans}}">{{('app.gour.' ~ person ~ '.symbol')|trans}}</span>.
                                        {% if conjugation != '' %}
                                            <span class="js-verb">{{ conjugation|raw }}</span> <i class="far fa-copy copy hidden-print" title="{{'app.copy.form' | trans}}"></i>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="js-tense-content">
                                {% set content = ('app.amzer.nach')|trans ~ '\n\n'%}
                                {% for person,conjugation in nach %}
                                    {% set content = content ~ ('app.gour.' ~ person ~ '.symbol')|trans ~ '. ' ~  conjugation|striptags ~ '\n' %}<br>
                                {% endfor %}
                                {{~ content ~}}
                            </div>
                        </div>
                    {% endif %}
                    </div>
        {% endfor %}
                
    {% endblock %}
{% endif %}

{% endblock %}

{% block footer %}
    {% if print == false %}
        {% include 'main/partial/footer.html.twig' %}
    {% endif %}
{% endblock %}
