{% extends 'base.html.twig' %}

{% block title %}Displeger verboù brezhonek - {{verbLocalization.infinitive}}{% endblock %}

{% block content %}

{% 
    set gour = [
        'U1',
        'U2',
        'U3',
        'L1',
        'L2',
        'L3',
        'D'
    ]
%}
{% block header %}
    {% if print == false %}
        {% include 'main/partial/header.html.twig' %}
    {% endif %}
{% endblock %}

{% block printButton %}
    <a class = "hidden-print report-button" alt="{{ 'app.button.report'|trans }}" href="#"><i class="fas fa-flag"></i></a>
    <a class = "hidden-print export-button" alt="{{ 'app.button.export'|trans }}" href="?print=true"><i class="fas fa-file-pdf"></i></a>
    <a class = "hidden-print print-button" alt="{{ 'app.button.print'|trans }}" href="#" onclick="print()"><i class="fas fa-print"></i></a>
{% endblock %}
{% if verb is not null %}
    <h2>{{verbLocalization.infinitive}}</h2>
    <p class="subtitle">{{'app.verb.other_forms'|trans}} :
    {% for other_localization in verb.localizations if other_localization != verbLocalization %}
        <a href={{path('verb', {'infinitive': other_localization.infinitive})}}>{{other_localization.infinitive}}</a>
        {% if other_localization.dialectCode != null %}({{('app.dialect.'~other_localization.dialectCode)|trans}}){% endif %}
        {% if loop.index +1 != verb.localizations|length %},{% endif %}
    {% endfor %}
    </p>

    <div class="row">
        <div class="col-md">
            {% set language = app.request.locale %}
            {% if language == 'br' or language == 'br_FR' %}
                {% set language = 'fr' %}
            {% endif %}
            {% if verb.hasTranslationInLanguage(language) %}
                {% set translation = verb.translation(language) %}
                <p>{{listsUtil.locales[translation.languageCode]}} : <i>{{translation.translation}}</i></p>
            {% elseif print == false %}
                    {% include 'main/partial/contact_form.html.twig' with {
                        'form_class' : 'missing_translation',
                        'form_object' : contactForm,
                        'notice_msg' : 'app.missing_translation.notice' |trans,
                        'default_msg' : ('app.form.contact.default.translation_missing')|trans({'%verb%': verbLocalization.infinitive}),
                        'form_attr_class' : 'js-contact-form',
                        'email_placeholder' : 'app.form.contact.email.placeholder' | trans,
                        'name_placeholder' : 'app.form.contact.name.placeholder' | trans
                    } %}
            {% endif %}

            {% if (verb.hasTranslationInLanguage(language) and verb.translations|length > 1)
            or (not verb.hasTranslationInLanguage(language) and verb.translations|length > 0 )%}
                <p><a class="js-view_more" href="javascript:;">⯆ {{'app.verb.view_more'|trans}}</a></p>
                <div class="js-translations" style="display:none;">
                    <ul>
                        {% for translation in verb.translations if translation.languageCode != language %}
                            <li>{{listsUtil.locales[translation.languageCode]}} : {{translation.translation}} 
                            {% if translation.sources|length %}({{'app.verb.source'}} : ){% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    
    {% if print == false %}
        <div class="row">
            <div class="col-md">
                <p><a href="{{wikeriadur_url}}" target="_blank">
                <img class="icon" src="{{ asset('build/wikeriadur.ico') }}" alt="{{'app.wiktionnary.alt'|trans}}" />
                {{'app.wiktionnary'|trans}}</a> (<a href="{{wikeriadur_conjugation_url}}" target="_blank">{{'app.wiktionnary.conjugation'|trans}}</a>)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p><a href="{{geriafurch_url}}" target="_blank">
                <img class="icon" src="{{ asset('build/geriafurch.png') }}" alt="{{'app.geriafurch.alt'|trans}}" />
                {{'app.geriafurch'|trans}}</a></p>
            </div>
        </div>
        {% include 'main/partial/contact_form.html.twig' with {
                    'form_class' : 'report_error',
                    'form_object' : reportErrorForm,
                    'notice_msg' : 'app.report_error.notice' |trans,
                    'default_msg' : ('app.form.contact.report_error.translation')|trans({'%verb%': verbLocalization.infinitive}),
                    'form_attr_class' : 'js-contact-form',
                    'email_placeholder' : 'app.form.contact.email.placeholder' | trans,
                    'name_placeholder' : 'app.form.contact.name.placeholder' | trans
                } %}
    {% endif %}
    <div class="row">
        <div class="col-md"> {{ 'app.amzer.gwan'|trans }} : {{verbLocalization.base ~ anvGwan}}</div>
    </div>
    

    {% block verbContentTable %}
        <div class="row verb-items">
            {% for amzer, endings in verbEndings %}
                <div class="col-md">
                    <h3>{{ ('app.amzer.' ~ amzer)|trans }}</h3>
                    <ul>
                        {% for ending in endings %}
                            <li class="verb-item">
                                <abbr title="{{ ('app.gour.' ~ gour[loop.index-1])|trans}}">{{('app.gour.' ~ gour[loop.index-1] ~ '.symbol')|trans}}</abbr>.
                                {% if ending|length == 1 %}
                                    <span class="js-verb">{{verbLocalization.base}}<strong>{{ending.0}}</strong></span> <i class="far fa-copy copy hidden-print"></i>
                                {% elseif ending|length > 1%}
                                    {% for end in ending %}
                                        {{verbLocalization.base}}<strong>{{end}}</strong> <i class="far fa-copy copy hidden-print"></i>
                                        {% if loop.index < ending|length %}
                                            <i>pe</i>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if loop.index%2 == 0 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}

            <div class="col-md">
                <h3>{{ ('app.amzer.nach')|trans }}</h3>
                <ul>
                    {% for conjugation in nach %}
                        <li class="verb-item">
                            <abbr title="{{ ('app.gour.' ~ gour[loop.index-1])|trans}}">{{('app.gour.' ~ gour[loop.index-1] ~ '.symbol')|trans}}</abbr>.
                            <span class="js-verb">{{ conjugation|raw }}</span> <i class="far fa-copy copy hidden-print"></i>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% endblock %}

{% block footer %}
    {% if print == false %}
        {% include 'main/partial/footer.html.twig' %}
    {% endif %}
{% endblock %}
