{% extends 'admin/base_admin.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>{{ 'app.title'|trans }}</h1>
    <p>Lodenn verañ</p>
    <a href="{{path('admin_home')}}">< Distreiñ</a>

    {{form_start(form)}}
    {% for translation in form.translations%}
        <h2>{{ ('app.locale.' ~translation.vars.data.locale)|trans }}</h2>
        <div class="row">
            <div class="col-md-2">
                {{ form_label(translation.intro) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_widget(translation.intro) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form_label(translation.thanks) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_widget(translation.thanks) }}
            </div>
        </div>
    {% endfor %}
    {{form_widget(form.save)}}


    {{form_end(form)}}
{% endblock %}
