{% extends 'admin/base_admin.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h1>{{ 'app.title'|trans }}</h1>
    <p>Lodenn verañ</p>
    <a href="{{path('admin_configurations')}}">< Distreiñ</a>

    {{form_start(form)}}
    {{form_row(form.code)}}


    <br/>
    Yezhoù :
    <div class="row">
        <div class="col-md translations"
             data-prototype="{{ include(
                "admin/partial/configuration_translation.html.twig",
                { translation : form.translations.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.translations|length }}">
            <h4>{{form_label(form.translations)}}</h4>
            
            {% for translation in form.translations %}
                {% include "admin/partial/configuration_translation.html.twig" %}
            {% endfor %}

        </div>
    </div>
    <p></p>
    <button type="button"
                class="btn btn-primary add-element"
                data-list-selector=".translations">
                <i class="fas fa-plus"></i>
    </button>
    {{form_widget(form.save)}}


    {{form_end(form)}}
{% endblock %}
