{% extends 'base.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
    <h1>{{ 'app.title'|trans }}</h1>
    <p>Lodenn verañ</p>
    <a href="{{ path('admin_verbs') }}" class="btn btn-primary">Roll ar verboù</a>
    <a href="{{ path('admin_configuration') }}" class="btn btn-primary">Kelfuniadur</a>
    <p>Niver a verboù : {{ statisticsManager.total }}</p>
    {# <p>Dregantad a verboù troet e galleg : {{ (( 1 - statisticsManager.percentage({'galleg': null})) * 100)|round(2) }} %</p>
    <p>Dregantad a verboù troet e saozneg : {{ (( 1 - statisticsManager.percentage({'saozneg': null})) * 100)|round(2) }} %</p> #}
    <div id="js-category-chart" data-title="Rummadoù" data-categories='{{ statisticsManager.categoryData|raw }}'>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('chart') }}
{% endblock %}