{% extends 'admin/base_admin.html.twig' %}

{% block title %}Lodenn vera単{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <p>Lodenn vera単</p>
    <a href="{{path('admin_sources')}}">< Distrei単</a>

    {{form_start(form)}}
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.code)}}
        </div>
        <div class="col-md-2">
            {{form_widget(form.code)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md translations"
             data-prototype="{{ include(
                "admin/partial/source_translation.html.twig",
                { translation : form.translations.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.translations|length }}">
            {{form_label(form.translations)}}
            {% for translation in form.translations %}
                {% include "admin/partial/source_translation.html.twig" %}
            {% endfor %}
            

        </div>
        
    </div>
    <button type="button"
                class="add-element"
                data-list-selector=".translations">Ouzhpenna単</button>
    <br/>
    <p>
        {{form_widget(form.save)}}
        {{form_widget(form.save_return)}}
        {{form_widget(form.save_continue)}}
    </p>

    {{form_end(form)}}
{% endblock %}
