{% extends 'admin/base_admin.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <p>Lodenn verañ</p>
    <a href="{{path('admin_verbs')}}">< Distreiñ</a>

    {{form_start(form)}}
    <div class="row">

        <div class="col-md localizations"
             data-prototype="{{ include(
                "admin/partial/verb_localization.html.twig",
                { localization : form.localizations.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.translations|length }}">
            {{form_label(form.localizations)}}
            {% for localization in form.localizations %}
                {% include "admin/partial/verb_localization.html.twig"  %}
            {% endfor %}
        </div>
    </div>
    <button type="button"
                class="add-element"
                data-list-selector=".localizations">Ouzhpennañ</button>
    <br/>
    <div class="col-md translations"
             data-prototype="{{ include(
                "admin/partial/verb_translation.html.twig",
                { translation : form.translations.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.translations|length }}">
        <div class="col-md">
            {{form_label(form.translations)}}
            {% for translation in form.translations %}
                {% include "admin/partial/verb_translation.html.twig" %}
            {% endfor %}
        </div>
    </div>
    <button type="button"
                class="add-element"
                data-list-selector=".translations">Ouzhpennañ</button>
    <br/>
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.category)}}<a href='https://github.com/Drouizig/displeger-verbou/wiki/Rummado%C3%B9' target="_blank"><sup>[?]</sup></a>
        </div>
        <div class="col-md-2">
            {{form_widget(form.category)}}
        </div>
    </div>
    <br/>
    <p>
        {{form_widget(form.save)}}
        {{form_widget(form.save_return)}}
        {{form_widget(form.save_continue)}}
    </p>

    {{form_end(form)}}
{% endblock %}
