{% extends 'admin/base_admin.html.twig' %}

{% block title %}Lodenn vera単{% endblock %}

{% block content %}
    <h1>{{ 'app.title'|trans }}</h1>
    <p><a href="{{ path('admin_home') }}">Lodenn vera単</a></p>

    <form action="{{ path('admin_verbs') }}" class="form-inline search-form form-md">
        <input type="text" name="search" class="form-control" value="{{ app.request.query.get('search') }}"/>
        <button class="btn btn-primary">{{'app.header.search.button'|trans}}</button>
    </form>
    <a href="{{ path('admin_verb') }}" class="btn btn-primary">Ouzhpenna単 ur verb</a>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    Anv-verb
                </th>
                <th scope="col">
                    Pennrann
                </th>
                <th scope="col">
                    Galleg
                </th>
                <th scope="col">
                    Saozneg
                </th>
                <th>
                </th>
            </tr>
            </thead><tbody>
            {% for tuple in pagination %}
                <tr>
                    <td>
                        {% for localization in tuple.verb.localizations %}
                         {{ (loop.index == 1 ? '' : '; ') ~ localization.infinitive }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for localization in tuple.verb.localizations %}
                         {{ (loop.index == 1 ? '' : '; ') ~ localization.base }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for translation in tuple.verb.translations %}
                          {{ translation.languageCode == 'fr' ? translation.translation : '' }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for translation in tuple.verb.translations %}
                          {{ translation.languageCode == 'en' ? translation.translation : '' }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{path('admin_verb', {'id': tuple.verb.id, 'params': pagination.params, 'offset' : offset + loop.index})}}">Kemma単</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
