{% extends 'base.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <p>Lodenn verañ</p>
    <a href="{{path('admin')}}">< Distreiñ</a>

    {{form_start(form)}}
    <div class="row">
        {{form_widget(form.localizations)}}
    </div>
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.translations)}}
        </div>
        <div class="col-md-2">
            {{form_widget(form.translations)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.category)}}<a href='https://github.com/Drouizig/displeger-verbou/wiki/Rummado%C3%B9' target="_blank"><sup>[?]</sup></a>
        </div>
        <div class="col-md-2">
            {{form_widget(form.category)}}
        </div>
    </div>
    <br/>
    <p>
        {{form_widget(form.save)}}
        {{form_widget(form.save_return)}}
        {{form_widget(form.save_continue)}}
    </p>

    {{form_end(form)}}
{% endblock %}
