{% extends 'base.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <p>Lodenn verañ</p>
    <a href="{{path('admin_verbs')}}">< Distreiñ</a>

    {{form_start(form)}}
    <div class="row">

        <div class="col-md">
            {{form_label(form.localizations)}}
            {% for localization in form.localizations %}
                <div class="row">
                    <div class="col-md-2">
                        {{form_label(localization.infinitive)}}
                    </div>
                    <div class="col-md-2">
                        {{form_label(localization.base)}}
                    </div>
                    <div class="col-md-2">
                        {{form_label(localization.dialectCode)}}
                    </div>
                    <div class="col-md-4">
                        {{form_label(localization.sources)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        {{form_widget(localization.infinitive)}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(localization.base)}}
                    </div>
                    <div class="col-md-2">
                        {{form_widget(localization.dialectCode)}}
                    </div>
                    <div class="col-md-4">
                        {{form_widget(localization.sources)}}
                    </div>
                    <div class="col-md-1">
                        DELETE
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            {{form_label(form.translations)}}
            {% for translation in form.translations %}
                <div class="row">
                    <div class="col-md-4">
                        {{form_label(translation.translation)}}
                    </div>
                    <div class="col-md-3">
                        {{form_label(translation.languageCode)}}
                    </div>
                    <div class="col-md-4">
                        {{form_label(translation.sources)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{form_widget(translation.translation)}}
                    </div>
                    <div class="col-md-3">
                        {{form_widget(translation.languageCode)}}
                    </div>
                    <div class="col-md-4">
                        {{form_widget(translation.sources)}}
                    </div>
                    <div class="col-md-1">
                        DELETE
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{form_label(form.category)}}<a href='https://github.com/Drouizig/displeger-verbou/wiki/Rummado%C3%B9' target="_blank"><sup>[?]</sup></a>
        </div>
        <div class="col-md-2">
            {{form_widget(form.category)}}
        </div>
    </div>
    <br/>
    <p>
        {{form_widget(form.save)}}
        {{form_widget(form.save_return)}}
        {{form_widget(form.save_continue)}}
    </p>

    {{form_end(form)}}
{% endblock %}
