{% extends 'admin/base_admin.html.twig' %}

{% block title %}Lodenn verañ{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <p>Lodenn verañ</p>
    <a href="{{path('admin_verbs')}}">< Distreiñ</a>

    <h3>
    {% if form.vars.data.id is defined %}
        {{ 'app.admin.verb.edit.title'|trans }}
    {% else %}
        {{ 'app.admin.verb.create.title'|trans }}
    {% endif %}
    </h3>
    {{form_start(form)}}
    <div class="row">
        <div class="col-md localizations"
             data-prototype="{{ include(
                "admin/partial/verb_localization.html.twig",
                { localization : form.localizations.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.localizations|length }}">
            <h4>{{form_label(form.localizations)}}</h4>
            {% for localization in form.localizations %}
                {% include "admin/partial/verb_localization.html.twig"  %}
            {% endfor %}
        </div>
    </div>

    <p><p/>
    <button type="button"
            class="btn btn-primary add-element"
            data-list-selector=".localizations">
            <i class="fas fa-plus"></i>
    </button>
    <br/>
    <div class="row">
        <div class="col-md translations"
             data-prototype="{{ include(
                "admin/partial/verb_translation.html.twig",
                { translation : form.translations.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.translations|length }}">
            <h4>{{form_label(form.translations)}}</h4>
            
            {% for translation in form.translations %}
                {% include "admin/partial/verb_translation.html.twig" %}
            {% endfor %}

        </div>
    </div>
    <p></p>
    <button type="button"
                class="btn btn-primary add-element"
                data-list-selector=".translations">
                <i class="fas fa-plus"></i>
    </button>
    <br/><br/>
    <div class="row">
        <div class="col-md tags"
             data-prototype="{{ include(
                "admin/partial/verb_tag.html.twig",
                { tag : form.tags.vars.prototype}, 
                with_context = false
                )|e }}"
            data-widget-counter="{{ form.tags|length }}">
            <h4>{{form_label(form.tags)}}</h4>
            {% for tag in form.tags %}
                {% include "admin/partial/verb_tag.html.twig"  %}
            {% endfor %}
        </div>
    </div>
    <p></p>
    <button type="button"
                class="btn btn-primary add-element"
                data-list-selector=".tags">
                <i class="fas fa-plus"></i>
    </button>
    <div class="row">
        <div class="col-md-8">
            {# <h4>{{form_label(form.tags)}}</h4> #}
        </div>
        <div class="col-md-8">
            {# {{form_widget(form.tags)}} #}
        </div>

        {# {% for tag in form.tags %}
            {% include "admin/partial/verb_tag.html.twig" %} #}
        {# {% endfor %} #}

    </div>
    <br/><br/>
    <p>
        {{form_widget(form.save)}}
        {{form_widget(form.save_return)}}
        {{form_widget(form.save_continue)}}
    </p>

    {{form_end(form)}}
{% endblock %}
