<div class="row {{ form_class }}">

    <div class="col-md">
        <div class="{{ form_class }}_notice row">
            <div class="col-md">
                {{ notice_msg }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {% form_theme form_object 'bootstrap_4_layout.html.twig' %}
                <div class="{{ form_class }}_form">
                    {{form_start(form_object, {
                        'action' : path('mail'),
                        'attr' : {'class': 'js-contact-form'}
                    })}}
                    <div class="row">
                        <div class="col-md-2">
                            {{form_label(form_object.name)}}
                        </div><div class="col-md">
                            {{form_widget(form_object.name)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{form_label(form_object.email)}}
                        </div><div class="col-md">
                            {{form_widget(form_object.email)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{form_label(form_object.message)}}
                        </div><div class="col-md">
                            {{form_widget(
                                form_object.message,
                                {'value': default_msg }
                            )
                            }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            {{form_widget(form_object.submit)}}
                        </div>
                    </div>
                    {{form_widget(form_object._token)}}
                    {{form_end(form_object)}}
                </div>
            </div>
        </div>
    </div>
</div>