<div class="row report_error">

    <div class="col-md">
        <div class="report_error_notice row">
            <div class="col-md">
                {{ 'app.report_error.notice'|trans }}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {% form_theme reportErrorForm 'bootstrap_4_layout.html.twig' %}
                <div class="report_error_form">
                    {{form_start(reportErrorForm, {
                        'action' : path('mail'),
                        'attr' : {'class': 'js-contact-form'}
                    })}}
                    <div class="row">
                        <div class="col-md-2">
                            {{form_label(reportErrorForm.name)}}
                        </div><div class="col-md">
                            {{form_widget(reportErrorForm.name)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{form_label(reportErrorForm.email)}}
                        </div><div class="col-md">
                            {{form_widget(reportErrorForm.email)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{form_label(reportErrorForm.message)}}
                        </div><div class="col-md">
                            {{form_widget(
                                reportErrorForm.message,
                                {'value': ('app.form.contact.report_error.translation')|trans({'%verb%': verb.anvVerb})}
                            )
                            }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            {{form_widget(reportErrorForm.submit)}}
                        </div>
                    </div>
                    {{form_widget(reportErrorForm._token)}}
                    {{form_end(reportErrorForm)}}
                </div>
            </div>
        </div>
    </div>
</div>