
        <form action="{{ path('search') }}" class="search-form form-md form-inline">
            <input 
                data-url="{{path('autocomplete')}}" 
                type="search" 
                name="term" 
                placeholder="{{'app.header.search.placeholder'|trans}}"
                class="autocomplete form-control"
                value="{{app.request.get('term', '')}}"    
            />
            <button class="btn btn-primary">{{'app.header.search.button'|trans}}</button>
        </form>