
{{form_start(form,{'method': 'GET', 'action': path('search_advanced')} )}}
<div class="row">
        <div class="col-md-2">
            {{form_label(form.term_advanced)}}
        </div>
        <div class="col-md-4">
            {{form_widget(form.term_advanced)}}
        </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{form_label(form.language)}}
    </div>
    <div class="col-md-4">
        {{form_widget(form.language)}}
    </div>
</div>
<button class="btn btn-primary">{{'app.header.search.button'|trans}}</button>
{{form_end(form)}}