<div>
    <div class="row">
        <div class="col-md-4">
            {{form_label(translation.label)}}
        </div>
        <div class="col-md-4">
            {{form_label(translation.description)}}
        </div>
        <div class="col-md-3">
            {{form_label(translation.languageCode)}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{form_widget(translation.label)}}
        </div>
        <div class="col-md-4">
            {{form_widget(translation.description)}}
        </div>
        <div class="col-md-3">
            {{form_widget(translation.languageCode)}}
        </div>
        <div class="col-md-1">
            <button type="button"
                    class="delete-element">Dilemel</button>
        </div>
    </div>
</div>